h2{
    font-size: 24px
    font-family: Arial
    color:blue;
    text-align: center;
}
.ques{
    font-size: 15px
    font-family: Arial
    color:black;
    text-align: center;
}
.reponse{
    font-size: 15px
    font-family: Arial
    color:black;
    text-align: center;
}