h1{
    font-size: 24px
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center;
    color: white;

}
#questions{
    font-size: 40px;
    font-family: Copperplate, Papyrus, fantasy;
    text-align: center;
    color: white;

}

button {
    font-family: Copperplate, Papyrus, fantasy;
    color: white;
    display: inline-block;
    background-color: #2245f5;
    border-radius: 10px;
    border: 4px double;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 700px;
    cursor: pointer;
    margin: 5px;
    padding: 30px;
  }
  button:hover {
    background-color: #041675;
  }
  
body {
    color:white;
  background-image: url('background-2b.jpg');
  background-size: contain;
  text-align: center;
  text-decoration-color: white;
}
table { 
    margin: auto;
    border-collapse: collapse;
    font-size: 20px;
}
td {
    border: 2px solid;
}
th {
    border: 2px solid;
}
p{
    font-size: 20px;
}
